/V1/packages
/V0/packages
/V0/Demo/Demo.Entity/obj
/V0/Demo/Demo.Entity/bin
/V0/Demo/Demo.Model/obj
/V0/Demo/Demo.Model/bin
/V0/Demo/站点/Bin
/V0/Source/obj
/V0/Source/bin
/V0/Test/Farseer.Net.Tests/bin/Debug/FS.Entity.dll
/V0/Test/Farseer.Net.Tests/bin/Debug/FS.Entity.pdb
/V0/Test/Farseer.Net.Tests/bin/Debug/FS.Model.dll
/V0/Test/Farseer.Net.Tests/bin/Debug/FS.Model.pdb
/V0/Test/Farseer.Net.Tests/bin/Debug/System.Web.Mvc.dll
/V0/Test/Farseer.Net.Tests/bin/Debug/System.Web.Mvc.xml
/V0/Test/Farseer.Net.Tests/bin/Debug/Farseer.Net.dll
/V0/Test/Farseer.Net.Tests/bin/Debug/Farseer.Net.pdb
/V0/Test/Farseer.Net.Tests/bin/Debug/Farseer.Net.Tests.dll
/V0/Test/Farseer.Net.Tests/bin/Debug/Farseer.Net.Tests.pdb
/V0/Test/Farseer.Net.Tests/obj
/V1/Demo/Demo.BusinessFacade/obj
/V1/Demo/Demo.BusinessFacade/bin
/V1/Demo/Demo.Common/bin
/V1/Demo/Demo.PO/bin
/V1/Demo/Demo.VO/bin
/V1/Demo/站点/bin
/V1/Demo/Demo.BusinessRule/bin
/V1/Demo/Demo.PO/obj
/V1/Demo/Demo.VO/obj
/V1/Demo/站点/obj
/V1/Demo/Demo.BusinessRule/obj
/V1/Demo/Demo.Common/obj
/V1/Source/Farseer.Net.Utils.Web/bin
/V1/Source/Farseer.Net.Utils/bin
/V1/Source/Farseer.Net/bin
/V1/Source/Farseer.Net.Utils.Form/bin
/V1/Source/Farseer.Net.Utils.Form/obj
/V1/Source/Farseer.Net.Utils/obj
/V1/Source/Farseer.Net/obj
/V1/Source/Farseer.Net.Utils.Web/obj
/V1/Test/NHibernate.Tests/obj
/V1/Test/EntityFramework.Tests/obj
/V1/Test/Farseer.Net.Core.Tests/obj
/V1/Test/EntityFramework.Tests/bin/Debug/Demo.Common.pdb
/V1/Test/EntityFramework.Tests/bin/Debug/Demo.VO.dll
/V1/Test/EntityFramework.Tests/bin/Debug/Demo.VO.pdb
/V1/Test/EntityFramework.Tests/bin/Debug/Demo.Common.dll
/V1/Test/EntityFramework.Tests/bin/Debug/Farseer.Net.dll
/V1/Test/EntityFramework.Tests/bin/Debug/Farseer.Net.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.VO.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.Core.Tests.dll
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.Core.Tests.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.dll
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.Utils.dll
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Farseer.Net.Utils.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.Common.dll
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.Common.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.PO.dll
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.PO.pdb
/V1/Test/Farseer.Net.Core.Tests/bin/Debug/Demo.VO.dll
/V1/Test/NHibernate.Tests/bin/Debug/Demo.VO.pdb
/V1/Test/NHibernate.Tests/bin/Debug/Farseer.Net.dll
/V1/Test/NHibernate.Tests/bin/Debug/Farseer.Net.pdb
/V1/Test/NHibernate.Tests/bin/Debug/NHibernate.Tests.dll
/V1/Test/NHibernate.Tests/bin/Debug/NHibernate.Tests.pdb
/V1/Test/NHibernate.Tests/bin/Debug/Demo.Common.dll
/V1/Test/NHibernate.Tests/bin/Debug/Demo.Common.pdb
/V1/Test/NHibernate.Tests/bin/Debug/Demo.PO.dll
/V1/Test/NHibernate.Tests/bin/Debug/Demo.PO.pdb
/V1/Test/NHibernate.Tests/bin/Debug/Demo.VO.dll
